.bg-primary {
    background-color: #3a57ea;
}
.row{
    margin: 0px;
}
/*header.hero{*/
    /*position: relative;*/
/*}*/
h1{
    color: #3a57ea;
}
/*header.hero a{*/
    /*position: absolute;*/
    /*top: 85%;*/
/*}*/